<div class="h-100 d-flex flex-column flex-shrink-0 p-3 bg-light col-3">
	<a href="<%= locals.brand?.link ?? `#` %>" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
		<span class="fs-4">
			<% if (locals.brand && brand.name) { %>
				<%= brand.name %>
			<% } else { %>
				Sidebar
			<% } %>
		</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<% if (locals.elements) { %>
			<% for (let element of locals.elements) { %>
				<li class="nav-item">
					<a href="<%= element.link %>" class="nav-link <%= element.active ? `active` : `` %>">
						<%= element.name %>
					</a>
				</li>
			<% } %>
		<% } else { %>
			<li class="nav-item">
				<a href="#" class="nav-link active">
					Home
				</a>
			</li>
		<% } %>
	</ul>
</div>