<% if (!locals.headers) return; %>
<div class="table-responsive col d-flex align-items-center">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
			<% for (let header of headers) { %>
				<th scope="col">
					<%= header.label %>
				</th>
			<% } %>
			</tr>
		</thead>
		<tbody>
		<% if (locals.rows) { %>
		  	<% for (let row of rows) { %>
		  		<tr>
			  	<% for (let header of headers) { %>
			  		<td>
		  				<% switch ( header.type ) {
							case "text":
							case "email":
						%>
								<%= row[header.name] %>
						<%		break;
							case "date": %>
								<%= row[header.name] %>
						<%		break;
							case "image": %>
								<% if (row[header.name] != "null") { %>
									<img src="<%= row[header.name] %>" alt="Image" width="64" height="64">
								<% } else { %>
									Не задано
								<% } %>
						<%		break;
							case "select": %>
								<% for (let option of header.options) { %>
									<%= row[header.name] == option.value ? option.label : "" %>
								<% } %>
						<%		break;
							case "link": %>
							<a class="link-primary" href="<%= row[header.name].href %>">
								<%- row[header.name].label %>
							</a>
						<%		break; 
						} %>
					</td>
				<% } %>
				</tr>
			<% } %>
		<% } else { %>
			<tr>
				<td class="text-center" colspan="<%= headers.length %>">Пусто</td>
			</tr>
		<% } %>
		</tbody>
	</table>
</div>